.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.home-grid .home-empty {
    background-color: var(--color-bg-secondary);
    color: var(--color-text-white);
    font-size: large;
    height: 70px;
    border-radius: var(--bs-border-radius);
    border: 2px dashed var(--color-border-gray-bold);
}

.home-grid .home-empty-full {
    grid-column: 1 / -1;
}

.home-grid .home-grid-btn-action {
    height: 70px;
    text-align: left !important;
    justify-content: flex-start !important;
    transition: transform 0.1s ease-out;
}

.home-grid .btn:hover,
.home-grid .btn:active {
    transform: translateY(-2px);
}

.home-grid .btn.home-grid-btn-year,
.home-grid .btn.home-grid-btn-location {
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    min-width: 0;
}

.home-grid-btn-year .home-grid-btn-label {
    font-size: x-large;
    line-height: 1.1;
}

.home-grid-btn-location .home-grid-btn-label {
    font-size: large;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
}

.home-grid-btn-year .home-grid-btn-badge,
.home-grid-btn-location .home-grid-btn-badge {
    line-height: 1.5;
    background-color: var(--color-bg-gray-medium);
    color: var(--color-text-primary);
    font-size: x-small;
    font-weight: 600;
    padding: 2px 6px;
    border-radius: 50px;
}
