.campaigns-container {
    min-height: calc(100vh - 130px); /* 60px navbar + 20px padding-top + 20px padding-bottom + 30px footer */
}

.campaigns-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.campaigns-grid .campaigns-button {
    flex: 0 1 300px;
    width: 100%;
    min-width: 0;
    height: 200px;
    background-color: var(--color-bg-secondary);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid var(--color-border-secondary);
    color: var(--color-text-white);
}

.campaigns-grid .campaigns-button:hover,
.campaigns-grid .campaigns-button:active {
    background-color: var(--color-bg-tertiary);
}

.campaigns-grid .campaigns-button-label {
    font-family:
        'Cinzel-Medium', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    background-color: var(--color-transparent-bg-primary);
    color: var(--color-text-white);
    max-width: 100%;
    min-width: 0;
}

.campaigns-grid .campaigns-button-icon {
    flex-shrink: 0;
}

.campaigns-grid .campaigns-button-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-width: 0;
    flex: 1 1 auto;
}

.campaigns-grid .campaigns-button:hover .campaigns-button-label,
.campaigns-grid .campaigns-button:active .campaigns-button-label {
    background-color: var(--color-transparent-bg-secondary);
}

.campaigns-grid .campaigns-button-badges-wrapper {
    width: 100%;
    min-width: 0;
}

.campaigns-grid .campaigns-button-badges-wrapper .campaigns-button-badge {
    font-size: small;
    background-color: var(--color-transparent-bg-white);
    color: var(--color-text-primary);
    max-width: 100%;
    min-width: 0;
}

.campaigns-grid .campaigns-button-badges-wrapper .campaigns-button-badge:first-child .campaigns-button-text {
    font-style: italic;
    padding-right: 2px; /* L'italique déborde un peu et est tronqué à cause de l'overflow */
}

.campaigns-grid .campaigns-button-badges-wrapper .campaigns-button-badge:last-child {
    flex-shrink: 0;
}

.campaigns-saga-panel {
    flex: 0 0 100%;
    max-width: 100%;
    background-color: var(--color-bg-tertiary);
}

@media (max-width: 576px) {
    .campaigns-grid .campaigns-button,
    .campaigns-grid .campaigns-saga-panel {
        flex: 1 1 100%;
        max-width: 100%;
    }
}
