.campaigns-container {
    min-height: calc(100vh - 130px); /* 60px navbar + 20px padding-top + 20px padding-bottom + 30px footer */
}

.campaigns-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 300px));
    justify-content: center;
}

.campaigns-grid .campaigns-button {
    width: 100%;
    height: 200px;
    background-color: var(--color-bg-secondary);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid var(--color-border-secondary);
    color: var(--color-text-white);
    padding: 5px 12px;
}

.campaigns-grid .campaigns-button:hover,
.campaigns-grid .campaigns-button:active {
    background-color: var(--color-bg-primary);
}

.campaigns-grid .campaigns-button-label {
    font-size: x-large;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    background-color: var(--color-transparent-bg-secondary);
    color: var(--color-text-white);
}

.campaigns-grid .campaigns-button-badge {
    font-size: small;
    font-style: italic;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    background-color: var(--color-transparent-bg-white);
    color: var(--color-text-primary);
}

@media (max-width: 616px) {
    .campaigns-grid {
        grid-template-columns: 1fr;
    }
}
