.edition-gifts-sort {
    background-color: var(--color-bg-transparent) !important;
    border: 2px solid var(--color-border-primary) !important;
    color: var(--color-bg-white) !important;
    cursor: pointer;
}

.edition-gifts-sort:hover,
.edition-gifts-sort:active {
    background-color: var(--color-bg-validate-hover) !important;
}
