.home-form-container {
    min-height: calc(100vh - 70px); /* 20px padding-top + 20px padding-bottom + 30px footer */
    align-content: center;
}

.home-form-message {
    position: absolute;
    top: 20px;
    width: calc(100% - 40px);
}

.home-logo {
    height: 100px;
}

.home-title {
    font-family:
        'Cinzel-Regular', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: var(--color-text-white);
}

.home-title-1 {
    font-size: 60px;
    line-height: 60px;
}

.home-title-2 {
    font-size: 29px;
    line-height: 29px;
}

.home-form {
    background-color: var(--color-bg-secondary);
    border-radius: var(--bs-border-radius);
    width: 300px;
}

@media (max-width: 576px) {
    .home-form {
        width: 100%;
    }
}
