.home-form-container {
    height: calc(100vh - 70px); /* 20px padding-top + 20px padding-bottom + 30px footer */
}

.home-logo {
    height: 100px;
}

.home-form {
    background-color: var(--color-bg-secondary);
    border-radius: var(--bs-border-radius);
}

.home-title-1 {
    font-size: 60px;
    font-weight: bold;
    line-height: 60px;
    color: var(--color-text-white);
}

.home-title-2 {
    font-size: 29px;
    font-weight: bold;
    line-height: 29px;
    color: var(--color-text-white);
}
