.increment-input-button {
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    background-color: var(--color-bg-gray-lighter) !important;
    border: 1.5px solid var(--color-border-input) !important;
    cursor: pointer;
    color: var(--color-bg-black) !important;
}

.increment-input-button:hover,
.increment-input-button:active {
    background-color: var(--color-bg-gray-light) !important;
    border-color: var(--color-border-input-hover) !important;
}

.increment-input-value {
    flex: 1;
    text-align: center;
    font-size: larger;
    font-weight: 600;
    border: 1.5px solid var(--color-border-input);
    border-radius: var(--bs-border-radius);
    height: 36px;
}

.increment-input-value.is-invalid {
    border: 1.5px solid var(--bs-danger) !important;
}
