:root {
    /* Background */
    --color-bg-primary: #262626;
    --color-bg-secondary: #323233;
    --color-bg-tertiary: #4a4a4c;
    --color-bg-gray-bold: #8892a4;
    --color-bg-gray-medium: #c6cedd;
    --color-bg-gray-light: #e3e3e3;
    --color-bg-gray-lighter: #edeff5;
    --color-bg-red: #f33e3e;
    --color-bg-red-hover: #ba2f2f;
    --color-bg-green: #22c55e;
    --color-bg-icon: #fdd343;
    --color-bg-black: black;
    --color-bg-white: white;
    --color-bg-transparent: transparent;
    --color-bg-fight: #5c1f1f;
    --color-bg-fight-hover: #7a2b2b;
    --color-bg-exploration: #332a4a;
    --color-bg-exploration-hover: #453a63;
    --color-bg-rest: #3d3820;
    --color-bg-rest-hover: #554d2c;

    /* Border */
    --color-border-primary: #262626;
    --color-border-secondary: #323233;
    --color-border-tertiary: #4a4a4c;
    --color-border-gray-bold: #4f6280;
    --color-border-gray-medium: #8892a4;
    --color-border-gray-light: #d1d5e5;
    --color-border-separator: #e8eaf0;
    --color-border-input: #dee2e6;
    --color-border-input-hover: #adb5bd;
    --color-border-input-focus: #86b7fe;
    --color-border-red: #f33e3e;
    --color-border-red-hover: #ba2f2f;
    --color-border-tab: #fdd343;
    --color-border-white: white;

    /* Texte */
    --color-text-primary: #262626;
    --color-text-secondary: #323233;
    --color-text-tertiary: #4a4a4c;
    --color-text-placeholder: #c6cedd;
    --color-text-white: white;
    --color-text-red: #f33e3e;
    --color-text-tab: #fdd343;
    --color-text-fight: #e8a8a8;
    --color-text-exploration: #c2b3e8;
    --color-text-rest: #d4c98a;

    /* Transparent */
    --color-transparent-border-input: rgba(13, 110, 253, 0.25);
    --color-transparent-bg-primary: rgba(38, 38, 38, 0.75);
    --color-transparent-bg-secondary: rgba(50, 50, 51, 0.75);
    --color-transparent-bg-white: rgba(255, 255, 255, 0.75);
}
