.password-input {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border: solid 1px var(--color-border-primary);
}

.password-input-button {
    flex-shrink: 0;
    background-color: var(--color-bg-primary) !important;
    border: 1.5px solid var(--color-border-primary) !important;
    border-top-right-radius: var(--bs-border-radius) !important;
    border-bottom-right-radius: var(--bs-border-radius) !important;
    cursor: pointer;
    color: var(--color-text-white) !important;
}

.password-input-button:hover,
.password-input-button:active {
    background-color: var(--color-bg-tertiary) !important;
    border-color: var(--color-border-input-hover) !important;
}
