.story-wrapper {
    scroll-margin-top: 70px;
    z-index: 1;
}

.story-header-date {
    color: var(--color-text-white);
}

.story-header-icon {
    background-color: var(--color-bg-primary);
    color: var(--color-text-white);
    margin-top: 2px;
    width: 30px;
    height: 30px;
}

.btn.story-header-button {
    border: none !important;
}

.btn.story-header-button:hover,
.btn.story-header-button:active {
    border: none !important;
}

.story-navigation-container {
    width: 30px;
}

.btn.story-navigation-button {
    padding: 0 !important;
    width: 30px;
    height: 30px;
}

.story-text {
    color: var(--color-text-white);
    background-color: var(--color-bg-tertiary);
    text-align: justify;
    white-space: pre-line;
    min-height: 70px;
}

.story-text-highlight {
    font-size: medium;
    font-weight: 400;
}

.story-text-highlight-combat {
    background-color: var(--color-bg-fight) !important;
    color: var(--color-text-fight) !important;
}

.story-text-highlight-exploration {
    background-color: var(--color-bg-exploration) !important;
    color: var(--color-text-exploration) !important;
}

.story-text-highlight-pause {
    background-color: var(--color-bg-pause) !important;
    color: var(--color-text-pause) !important;
}

.story-text-highlight-repos {
    background-color: var(--color-bg-rest) !important;
    color: var(--color-text-rest) !important;
}
