.campaign-header-container {
    width: 100%;
    min-height: 200px;
    background-color: var(--color-bg-secondary);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.campaign-header-title {
    font-family:
        'Cinzel-Medium', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    background-color: var(--color-transparent-bg-primary);
    color: var(--color-text-white);
    max-width: 100%;
    min-width: 0;
}

.campaign-header-universe {
    font-size: medium;
    font-style: italic;
    background-color: var(--color-transparent-bg-white);
    color: var(--color-text-primary);
    max-width: 100%;
    min-width: 0;
}

.campaign-header-players {
    font-size: medium;
    background-color: var(--color-transparent-bg-white);
    color: var(--color-text-primary);
    max-width: 100%;
    min-width: 0;
}

.campaign-header-icon-large {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    min-width: 30px;
}

.campaign-header-icon-medium {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    min-width: 25px;
}

.campaign-header-icon-small {
    flex-shrink: 0;
    width: 22px;
    height: 22px;
    min-width: 22px;
}

.btn.campaign-header-button {
    background-color: var(--color-transparent-bg-primary) !important;
}

.btn.campaign-header-button:hover,
.btn.campaign-header-button:active {
    background-color: var(--color-bg-red-hover) !important;
}

.campaign-stories-timeline {
    border-left: 2px solid var(--color-border-tertiary);
    margin-left: 9px;
}

.campaign-stories-empty {
    background-color: var(--color-bg-secondary);
    color: var(--color-text-white);
    text-align: center;
}
